﻿/* default layout */
.ajax__tab_default .ajax__tab_header {white-space:normal !important}
.ajax__tab_default .ajax__tab_outer {display:-moz-inline-box;display:inline-block}
.ajax__tab_default .ajax__tab_inner {display:-moz-inline-box;display:inline-block}
.ajax__tab_default .ajax__tab_tab {overflow:hidden;text-align:center;display:-moz-inline-box;display:inline-block}

/* xp theme */
.ajax__tab_xp .ajax__tab_header {font-family:verdana,tahoma,helvetica;font-size:11px;background:url(WebResource.axd?d=u4J6zz15-Kjc2suH2dN1GxEqaRNNe_5gIAuPJlEgSb0RIA83wmxC9G2mNVHkJ5nqoNngYj6JW8xS6I-gofiKRDGHxG2-VMHWO_KC8jEtCmoWemwGVpxSTRvwHZPODt7t0&t=634092602420000000) repeat-x bottom;}
.ajax__tab_xp .ajax__tab_outer {padding-right:4px;background:url(WebResource.axd?d=uakWPAgBQiS7fx_G9UL6Hyd8oQauefBhT6nSnakCpXO7U9Och9dYIJBqa8yqdHHPPruQRKo9RtNvRT9ZaXFVWvQGQSdhfLhsGgSC9OFzs7lBOzlis6MyZv-ISO7Eothc0&t=634092602420000000) no-repeat right;height:21px;}
.ajax__tab_xp .ajax__tab_inner {padding-left:3px;background:url(WebResource.axd?d=gLLfEXUW_5zL_sR-WvkoWJPv-34m8pL4flDDcQdB8raub0HcV-fepxcdO_ZEDTjw1L9NETyWkYJbB5LvA1aKlr6aKncp7xAaNsYpqA4R1b4BP4H8odpgXhUKnEwNPTeO0&t=634092602420000000) no-repeat;}
.ajax__tab_xp .ajax__tab_tab {height:13px;padding:4px;margin:0px;background:url(WebResource.axd?d=z5rOuyzaIBQzSFT1qToIZAc7_ZN9O-FIIrgUJZzbFsyjUZlWnyRt5IQk1GWZUQTdXdWzfemZhZygr_9X0RU-asLCEGMUG39y-fdrCG6QWJDwIjaZ3mRiChmTOMeckyq80&t=634092602420000000) repeat-x;}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_outer {cursor:pointer;background:url(WebResource.axd?d=s7hpggysOXUO9n79NoPg2eWq3Ih6gjwTWa_5TnyAlGXTY5P6GgTIZEUzXde-j5sNmncLqdZk_baLWACDlpjAbtfKfHRaAEYwR72K2xDoWQlj6Se0q6vlpGCclObFDk6vOXctOSX3oRRa3aBneD_CZQ2&t=634092602420000000) no-repeat right;}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_inner {cursor:pointer;background:url(WebResource.axd?d=ZtfFp93sHGMyX3z-SdIhq6AX31_Zd6GbuknXiN5Es17JVdfkN1TJJa97xjGl4m_5izKRo_OlbsdmLKv8CTdQotA5xlNfpWco6kNDmnJp3hy5StI1yfjnLMV0hltLBlj1qima4SqQ28_hTxlKsZfLAA2&t=634092602420000000) no-repeat;}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_tab {cursor:pointer;background:url(WebResource.axd?d=Fk9VsEbs7pXuHtfxqaXk2mtt41vBSvszUfP20trnPEXgBAU5b5RErvhE7sV56FJ0_UsIEqnZBr5AdGkCyDHKa6cctSuhuO3fPqP2B841_fy_J1JtHBjrqwp_FjM8Fv6A0&t=634092602420000000) repeat-x;}
.ajax__tab_xp .ajax__tab_active .ajax__tab_outer {background:url(WebResource.axd?d=A4er6jVvv-JvelAbreg3weDSE3ptL6FMcxH-uF54WG6BUS4ZXkYL5ZdWyESk6MC7ztee6Koklmso5F7keQLKuiwcNLtApe4hfTWISfSJBpt1W1WezXrFK4546UPvJpjuwVQHEOTa9yjzCcRKbD2-kg2&t=634092602420000000) no-repeat right;}
.ajax__tab_xp .ajax__tab_active .ajax__tab_inner {background:url(WebResource.axd?d=Hju_ANVhW3zCgl4WoxzJ39mchnQCnT_bzokOWZT0iCE3OByl-Slt9i-Ue6kpg-hkdRes60nMi9IEOOsnDHNy8M5RqK_pKDw8qY2nSggIEIeZrS4z71OXdYqfKRi9xsIAKjiYEUTRX8c2CnwZa6hcXA2&t=634092602420000000) no-repeat;}
.ajax__tab_xp .ajax__tab_active .ajax__tab_tab {background:url(WebResource.axd?d=V9x9J_ktYE2MDgxAJrhUCDGwcVLl_yxzlm79hvusylswORlTY-LoY9_wHRjjmkUu7VGpQsVXHy7ayI3OnHRK0ERXFaBBrD8uj3XIlpLDdpopTHT1kCI8woBe70fcRxuE0&t=634092602420000000) repeat-x;}
.ajax__tab_xp .ajax__tab_disabled { color: #A0A0A0;}
.ajax__tab_xp .ajax__tab_body {font-family:verdana,tahoma,helvetica;font-size:10pt;border:1px solid #999999;border-top:0;padding:8px;background-color:#ffffff;}

/* scrolling */
.ajax__scroll_horiz {overflow-x:scroll;}
.ajax__scroll_vert {overflow-y:scroll;}
.ajax__scroll_both {overflow:scroll}
.ajax__scroll_auto {overflow:auto}

/* plain theme */
.ajax__tab_plain .ajax__tab_outer {text-align: center; vertical-align: middle; border:2px solid #999999;}
.ajax__tab_plain .ajax__tab_inner {text-align: center; vertical-align: middle; }
.ajax__tab_plain .ajax__tab_body {text-align: center; vertical-align: middle;}
.ajax__tab_plain .ajax__tab_header {text-align: center; vertical-align: middle;}
.ajax__tab_plain .ajax__tab_active .ajax__tab_outer {background:#FFFFE1;}
