body {
	font: 12pt "Times New Roman";
	background-color: white;
}
.paperA4{
	height: 175mm;
	width: 247mm;
	border: 1px dashed #66ff66;
	padding: 1px;
	font-family: "Trebuchet MS", Arial, Tahoma, Verdana;
}
.papersetengahA4{
	height: 147mm;
	width: 192mm;
	border: 1px dashed #66ff66;
	padding: 1px;
	font-family: "Trebuchet MS", Arial, Tahoma, Verdana;
	background-color: White;
}
.header1{
	font-size: 13px; font-family:Arial, Helvetica, sans-serif; 
	font-weight:bold;
	color:#FFFFFF
}
.header2{
	font-size: 24px; font-family: "Rockwell Extra Bold", "Arial Black";
	font-weight:bold;
	color:#FFFFFF
}
.alamat{
	font-size: 10px; font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF
}
.fotoTD{
	padding: 0px;
	color:#FFFFFF
}
.fotoDIV{
	color:#FFFFFF
	font-size: 10px;
	width:20mm;
	height: 20mm;
	border: #FFFFFF solid 1px;
	text-align: center;
	vertical-align:  baseline;
}
.logo{
	display: none;
}
.garis{ border-bottom: 3px solid #FFFFFF; }
.judulKRS{ font-family: Arial, Helvetica, sans-serif;  font-size: 18px;  font-weight: bold;
	color:#FFFFFF   }
.identitas{	font-family: "MS Sans Serif", Arial, Tahoma; font-size: 11px;  color: Black; }
.identitas .identitasItem{
	color: #FFFFFF;
	}
}
.tabelkrs{
	/*font-family: Arial, Tahoma, Verdana;*/
	font-family: Arial, Tahoma;
	font-size: 9px;
	border: 0px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	color: #FFFFFF;
	line-height: 16px;
}
.tabelkrs .thl{
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	color: #FFFFFF;
	font-family: Arial, Tahoma;
	font-size: 9px;
}
.tabelkrs .thc{
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	color: #FFFFFF;
	font-family: Arial, Tahoma;
	font-size: 9px;
}
.tabelkrs .thr{
	border-left: 1px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	color: #FFFFFF;
}
.tabelkrs .thct, .thrt{
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 0px solid #FFFFFF;
	color: #FFFFFF;
}
.tabelkrs .thcb{
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	color: #FFFFFF;
}
.tabelkrs .tdl, .tdc{
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	font-family: Arial, Tahoma;
	font-size: 9px;
	border: 1px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	color: #000000;
	line-height: 16px;
}
.tabelkrs .tdl2, .tdc2{
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	font-family: Arial, Tahoma;
	font-size: 9px;
	border: 1px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	color: #FFFFFF;
	line-height: 16px;
}
.tabelkrs .tdr{
	border-left: 1px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	font-family: Arial, Tahoma;
	font-size: 9px;
	border: 1px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	color: #000000;
	line-height: 16px;
}
.tabelIndek{
	font-family: Arial, Tahoma; 
	font-size: 10px;
	color: #FFFFFF;
}
.tabelIndek .content{
	font-size: 10px;
	color: #000000;
}
.ttd{
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
}
.catatan{
	font-size: 10px;
}