body,table,form,input,select,textarea {
	font: 11px/15px Verdana;
}
a {
	text-decoration: none;
	color: #0033CC;
}
a:hover {
	color: red;
	text-decoration: underline;
}
a img {
	border: none;
}
input[type="button"],input[type="reset"],button {
	color: black;
	background: #CCCCCC;
	border: 1px solid #777777;
	padding: 1px;
}
input[type="submit"] {
	color: white;
	background: #496576;
	border: 1px solid black;
	padding: 1px;
	margin-right: 5px;
	font-weight: bold;
}
/*
input,textarea {
	padding: 3px;
}
input:focus, textarea:focus, label:focus {
	border: 1px solid red;
}
*/
th {
	font-weight: bold;
}
form {
	margin: 1px;
}
h3 {
	font-size: 18px;
	font-weight: normal;
	margin: 0;
}
.akt {
	margin-left: 40px;
}
.judul {
	font-size: 18px;
}
.t {
	font-weight: bold;
	font-size: 14px;
}
table.header {
	background: url(gambar/t_biru.jpg);
	border: 1px solid #3D3D3D;	
	border-bottom: none;
	height: 30px;
}
table.list {
	background-color: #DFDFDF;
	border: 1px solid #3D3D3D;
}
table.footer {
	background: url(gambar/t_biru.jpg);
	border: 1px solid #3D3D3D;
	border-top: none;
}
tr.head {
	background-color: #F0F0F0;
}
tr.odd {
	background-color: #FFFFFF;
}
tr.even {
	background-color: #ECF6FF;
}
.list td {
	padding: 2px;
}
table.tk td {
	padding: 2px;
}
table.lap {
	background-color: black;
}
.lap tr {
	background-color: white;
}
.lap td {
	padding: 3px;
}
.nav img {
	vertical-align: -30%;	
}
.teks2 {
	font-size: 15px;
	color: green;
	font-weight: bold;
}
.pesan {
	color: red;
	font-weight: bold;
}
.habis {
	background-color: #FFDEDE;
}