/* 		Hotel Kusuma CSS 						*/
/* 		Created Date 	: 06 Desember 2007		*/
/* 		Created Date 	: dpjatmiko@gmail.com		*/

td.header00 {
	width: 39px;
	height: 42px;
	background: url(../images/header_01.gif) left bottom repeat-x #fff;
}
td.header01 {
	width: 156px;
	height: 130px;
}
a.sitelogo {
	float: left;
	display: block;
	width: 156px;
	height: 130px;
	background: url(../images/logo.gif) left top no-repeat;
}
td.header02 {
	width: 35px;
	height: 42px;
	background: url(../images/header_01.gif) left bottom repeat-x #fff;
}
td.header03{
	background: url(../images/header_04.gif) top right no-repeat #fff;
}
.imgHead {
	height: 40px;
	border-bottom: 2px solid #3e5221;
}
td.header04 {
	width: 39px;
	height: 88px;
	background-color: #a8e25a;
}
td.header05 {
	width: 35px;
	height: 88px;
	background-color: #a8e25a;
}
td.header06 {
	height: 54px;
	vertical-align: top;
	background: url(../images/header_07.gif) left bottom no-repeat #a8e25a;
}

.headerTitle{
	float: right;
	padding: 4px 10px;
	background: url(../images/bgHeadAdd.gif) top right repeat-y;
}
.headerTitle span{
	color: #fff;
}
td.header07 {
	height: 34px;
	vertical-align: bottom;
	background: url(../images/header_08.gif) left top no-repeat #fff;
	overflow: hidden;
}

/* eof header */

/* footer element */

td.footer00{
	text-align: center;
	background: url(../images/footer01.gif) top left repeat-x #87c139;
	padding: 10px 0px;
	color: #030000;
	font-size: 9px;
}
td.footer00 h2{
	margin: 5px 0px;
	color: #fff;
	font-size: 11px;
}
td.footer01{
	text-align: center;
	background: url(../images/bgFooter.gif) top center repeat-y #a9e15a;
	padding: 5px 0px;
	color: #fff;
	font-size: 9px;
}
/* eof footer */

/* main element */

td.leftSide{
	width: 230px;
	vertical-align: top;
	background-color: #a8e25a;
}
.sideCont{
	padding-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
}
a.home {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/homeBtn.gif);
	margin-bottom: 3px;
}
a.home:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/homeBtn_2.gif);
	margin-bottom: 3px;
}
a.reservasi {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/reservasiBtn.gif);
	margin-bottom: 3px;
}
a.reservasi:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/reservasiBtn_2.gif);
	margin-bottom: 3px;
}
a.cinta {
	display: block;	width: 190px;height: 56px;background: url(../images/cinBtnYu.gif);margin-bottom: 3px;
}
a.cinta:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/cinBtnYu_2.gif);
	margin-bottom: 3px;
}
a.cin {
	display: block;	width: 190px;height: 56px;background: url(../images/cinBtn.gif);margin-bottom: 3px;
}
a.cin:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/cinBtn_2.gif);
	margin-bottom: 3px;
}
a.book {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/bookBtn.gif);
	margin-bottom: 3px;
}
a.book:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/bookBtn2.gif);
	margin-bottom: 3px;
}
a.lihatkrs {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/lihatkrs1.gif);
	margin-bottom: 3px;
}
a.lihatkrs:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/lihatkrs2.gif);
	margin-bottom: 3px;
}


a.ambilkrs {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/ambilkrs1.gif);
	margin-bottom: 3px;
}
a.ambilkrs:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/ambilkrs2.gif);
	margin-bottom: 3px;
}

a.biodata{
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/biodata1.gif);
	margin-bottom: 3px;
}
a.biodata:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/biodata2.gif);
	margin-bottom: 3px;
}
a.midkrs {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/midkrs1.gif);
	margin-bottom: 3px;
}
a.midkrs:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/midkrs2.gif);
	margin-bottom: 3px;
}
a.uaskrs {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/uaskrs1.gif);
	margin-bottom: 3px;
}
a.uaskrs:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/uaskrs2.gif);
	margin-bottom: 3px;
}
a.sahkrs {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/sahkrs1.gif);
	margin-bottom: 3px;
}
a.sahkrs:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/sahkrs2.gif);
	margin-bottom: 3px;
}
a.acckrs {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/acckrs1.gif);
	margin-bottom: 3px;
}
a.acckrs:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/acckrs2.gif);
	margin-bottom: 3px;
}

a.laporan {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/laporan1.gif);
	margin-bottom: 3px;
}
a.laporan:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/laporan2.gif);
	margin-bottom: 3px;
}
a.checkin {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/reservasiBtn.gif);
	margin-bottom: 3px;
}
a.checkin:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/reservasiBtn_2.gif);
	margin-bottom: 3px;
}

a.bantuan {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/bantuanBtn.gif);
	margin-bottom: 3px;
}
a.bantuan:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/bantuanBtn_2.gif);
	margin-bottom: 3px;
}
a.logout {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/logoutBtn.gif);
	margin-bottom: 3px;
}
a.logout:hover {
	display: block;
	width: 190px;
	height: 56px;
	background: url(../images/logoutBtn_2.gif);
	margin-bottom: 3px;
}
/* tombol - tombol */
a.tblbooking {
	display: block;	width: 88px; height: 23px; background: url(../images/bookingBtn.gif) center no-repeat; margin-bottom: 3px;
}
a.tblbooking:hover {
	display: block; width: 88px; height: 23px; background: url(../images/bookingBtn_2.gif) center no-repeat;	margin-bottom: 3px;
}
a.tbldaftartamu{
	display: block; width: 105px; height: 23px; background: url(../images/daftartamuBtn.gif) center no-repeat; margin: 3px;
}
a.tbldaftartamu:hover{
	display: block; width: 105px; height: 23px; background: url(../images/daftartamuBtn_2.gif) center no-repeat; margin: 3px;
}
a.tbldaftarpesan{
	display: block; width: 128px; height: 23px; background: url(../images/pesanBtn.gif) center no-repeat; margin: 3px;
}
a.tbldaftarpesan:hover{
	display: block; width: 128px; height: 23px; background: url(../images/pesanBtn_2.gif) center no-repeat; margin: 3px;
}

a.tbllihatkamar{
	display: block; width: 105px; height: 23px; background: url(../images/lihatkamarBtn.gif) center no-repeat; margin: 3px;
}
a.tbllihatkamar:hover{
	display: block; width: 105px; height: 23px; background: url(../images/lihatkamarBtn_2.gif) center no-repeat; margin: 3px;
}
a.tblcheckin{
	display: block; width: 88px; height: 23px; background: url(../images/checkinBtn.gif) center no-repeat; margin-bottom: 3px;
}
a.tblcheckin:hover{
	display: block; width: 88px; height: 23px; background: url(../images/checkinBtn_2.gif) center no-repeat; margin-bottom: 3px;
}
a.tbltambah{
	display: block; width: 88px; height: 23px; background: url(../images/tambahBtn.gif) center no-repeat; margin-bottom: 3px;
}
a.tbltambah:hover{
	display: block; width: 88px; height: 23px; background: url(../images/tambahBtn_2.gif) center no-repeat; margin-bottom: 3px;
}
a.tblpesan{
	display: block; width: 128px; height: 23px; background: url(../images/pesanBtn.gif) center no-repeat; margin-bottom: 3px;
}
a.tblpesan:hover{
	display: block; width: 128px; height: 23px; background: url(../images/pesanBtn_2.gif) center no-repeat; margin-bottom: 3px;
}
a.tblcheckout{
	display: block; width: 88px; height: 23px; background: url(../images/checkoutBtn.gif) center no-repeat; margin-bottom: 3px;
}
a.tblcheckout:hover{
	display: block; width: 88px; height: 23px; background: url(../images/checkoutBtn_2.gif) center no-repeat; margin-bottom: 3px;
}

/* end of tombol - tombol */


.userInfo {
	margin: 20px;
	background: url(../images/bgInfoUser.gif) bottom left no-repeat #a8e25a;
	border: 1px solid #156b52;
}
.userInfoHeader{
	background: url(../images/headingInfoUser.gif) top right no-repeat #66a016;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
}
.userInfoCell {
	border-bottom: 2px solid #7ebd54;
	border-right: 2px solid #7ebd54;
	border-left: 2px solid #7ebd54;
}
.uiLeft{
	text-align: left;
	padding: 8px 2px;
	border-top: 2px solid #7ebd54;
}
.uiRight{
	color: #fff;
	font-weight: bold;
	border-top: 2px solid #7ebd54;
	width: 94px;
	padding: 8px 2px;
	float: right;
	background-color: #94d158;
}
.userInfoBottom {
	display: none;
}

.roomInfo {
	margin: 20px;
	background: url(../images/rightPage01.gif) top right no-repeat;
}
.roomInfoHeader{
	background: url(../images/headingInfoRoom.gif) center no-repeat;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
}
.roomInfoCell {
	border-left: 2px solid #6d9d53;
	border-bottom: 2px solid #6d9d53;
	border-right: 2px solid #6d9d53;
}
.riLeft{
	text-align: left;
	padding: 8px;
	border-top: 2px solid #6d9d53;
	color: #fff;
}
.riLeft a{
	font-weight: bold;
	color: #42532a;
}
.riLeft a:hover{
	color: #000;
}
.riRight{
	text-align: right;
	font-weight: bold;
	border-top: 2px solid #6d9d53;
	width: 40px;
	padding: 8px;
	float: right;
	background-color: #94d158;
}
.roomInfoBottom {
	display: none;
}

.banner {
	padding: 0px;
	margin: 20px;
	background-color: #fff;
	border: 1px solid #156b52;
}
.bannerHeader{
	background-color: #d8f5b3;
	color: #839968;
	font-weight: bold;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
}
.bannerCell {
	padding: 0px;
}
.bannerCell p{
	margin: 0px;
	padding: 0px;
}
.bannerCell p img{
	margin: 0px;
	border: 0px;
}
.bannerBottom {
	display: none;
}

/*main element */

td.main{
	vertical-align: top;
}
.boxCont{

}
.boxHeader{
	height: 17px;
	overflow: hidden;
	background: url(../images/box00.gif) top left repeat;
}
.boxHeaderItem{
	height: 17px;
	background: url(../images/box01.gif) top right no-repeat;
	text-align: center;
}
.boxFooter{
	height: 17px;
	overflow: hidden;
	background: url(../images/box04.gif) top left no-repeat;
}
.boxFooterItem{
	height: 17px;
	background: url(../images/box05.gif) top right no-repeat;
	text-align: center;
}
.contentContainer {
	margin: 20px;
}
.contentCell{
	padding: 10px;
	border-left: 1px solid #9a7a2d;	
	border-right: 1px solid #9a7a2d;	
}
td.pageImg {
	width: 500px;
	height: 330px;
	padding: 0px;
}
td.rightPage {
	padding: 0px;
	text-align: right;
	background: url(../images/rightPage00.gif) bottom left no-repeat #92bc5a;
}
.welcome{

}
.welcome p{
	line-height: 140%;
}

/* rooms element */
.rooms {
	width: 100%;
	padding: 0px;
	/*background-color: #9ecf5a;*/
}
.roomsHeader {
	margin: 0px 20px;
	padding: 10px;
	/*color: #fff;*/
	font-weight: bold;
	font-size: 12px;
	background: url(../images/borderDotted.gif) bottom left repeat-x;
}
.roomsCell {
	padding: 20px;
	/*color: #fff;*/
}
td.roomsLeft{
	padding-left: 5px;
	background-color: #54811a;
}
td.roomsRight {
	padding-bottom: 10px;
	background-color: #54811a;
}
.displayRoom{
	margin: 10px 5px 0px 10px;
	padding: 0px;
	background-color: #3c6308;
}
.displayRoomImg{
	width: 250px;
	height: 180px;
	overflow: hidden;
	background: url(../images/room/7a.jpg) #000;
}
.displayRoomCell {
	padding: 0px;
	margin: 0px;
}
.displayRoomBottom {
	padding: 0px 10px 10px 10px;
	text-align: left;
}
.displayRoomBottom ul{
	margin-left: 0px;
	padding: 0px;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	line-height: 140%;
}
.displayRoomBottom li{
	margin-left: 20px;
	color: #fff;
	font-size: 11px;
	font-weight: lighter;
	list-style-image: url(../images/arrowList.gif);
}
.rEmpty {
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	background-color: #3c6308;
}
.rFilled {
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	background-color: #264da8;
}
.rBooked {
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	background-color: #ff7e00;
}
.roomMap{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 5px;
	padding-bottom: 5px;
	float: left;
	display: block;
	text-align: center;
	background-color: #e2f4c8;
}
.roomMapItemEmpty{
	width: 65px;
	height: 65px;
	margin-right: 4px;
	margin-top: 4px;
	overflow: hidden;
	background: url(../images/icon/room00.gif) center no-repeat #81b33c;
	float: left;
}
#roomNo {
	text-align: center;
	margin-top: 17px;
	margin-bottom: 5px;
	font-family: times new roman, tahoma;
	font-size: 17px;
	font-weight: bold;
	color: #000;
}
#roomAct {
	padding-left: 10px;
	text-align: left;
	font-size: 10px;
	line-height: 15px;
	color: #40531e;
	font-weight: bold;
}
#roomAct input{
	padding: 0px;
	margin: 0px;
	width: 13px;
	height: 13px;
	border-collapse: collapse;
}
#roomAct label{
}
.selectedRoom {	
	padding: 10px 0px;
}
.roomMapItemFilled {
	width: 65px;
	height: 65px;
	margin-right: 4px;
	margin-top: 4px;
	overflow: hidden;
	background: url(../images/icon/room01.gif) center no-repeat #81b33c;
	float: left;
}
.roomMapItemBooked {
	width: 65px;
	height: 65px;
	margin-right: 4px;
	margin-top: 4px;
	overflow: hidden;
	background: url(../images/icon/room02.gif) center no-repeat #81b33c;
	float: left;
}

/* form element */
.forms {
	width: 100%;
	padding: 0px;
	background-color: #fff;
}
.formsHeader {
	margin: 0px 20px;
	padding: 10px 10px 0px 10px;
	font-weight: bold;
	font-size: 12px;
}
.formsCell {
	padding: 10px 20px 20px 10px;
	color: #243a0c;
	font-size: 12px;
	text-align: center;
}
input.formText {
	font-weight: bold;
	padding: 4px;
	font-size: 13px;
	border-top: 2px solid #6b8045;
	border-left: 2px solid #6b8045;
	border-right: 1px solid #799654;
	border-bottom: 1px solid #799654;
}
select.formSelect {
	font-weight: bold;
	width: auto;
	height: 25px;
	padding: 2px 4px;
	font-size: 13px;
	border-top: 2px solid #6b8045;
	border-left: 2px solid #6b8045;
	border-right: 1px solid #799654;
	border-bottom: 1px solid #799654;
}
input.selectButton{
	width: 88px;
	height: 25px;
	border: 0px;
	background: url(../images/selectBtn2.gif) no-repeat;
	border: 0px;
	color: #fff;
	font-weight: bold;
	padding-bottom: 4px;
	font-size: 12px;
}
input.selectButton:hover{
	width: 88px;
	height: 25px;
	border: 0px;
	background: url(../images/selectBtn1.gif) no-repeat;
	border: 0px;
	color: #fff;
	font-weight: bold;
	padding-bottom: 4px;
	font-size: 11px;
}
input.formButton{
	width: 88px;
	height: 25px;
	border: 0px;
	background: url(../images/formBtn1.gif) no-repeat;
	border: 0px;
	color: #fff;
	font-weight: bold;
	padding-bottom: 4px;
	font-size: 11px;
}
input.formButton:hover{
	width: 88px;
	height: 25px;
	border: 0px;
	background: url(../images/formBtn2.gif) no-repeat;
	border: 0px;
	color: #fff;
	font-weight: bold;
	padding-bottom: 4px;
	font-size: 11px;
}
td.frmLeft{
	font-size: 12px;
	float: left;
	display: block;
	font-weight: bold;
	padding: 10px 0px 10px 10px;
}
td.frmLeftb{
	padding-top:5px;
	padding-left: 10px;
	font-size: 12px;	
	font-weight: bold;
	background-color: #b7e873;
}
td.frmLeft span{
	font-weight: lighter;
}
td.frmRight{
	padding: 10px 10px 10px 40px;
	text-align: left;
	font-weight: bold;
	font-size: 12px;
}
.frmRightb{
	padding: 10px 10px 10px 40px;
	text-align: left;	
}