/* 		Book Store		 						*/
/* 		Created Date 	: 22 April 2008			*/
/* 		Modification 	: dpjatmmiko@gmail.com		*/


/* Body Style */
body {
	font-size: 11px;
	color: #000;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #fff;
}


body, p, h1,h2,h3,h4,h5,h6,div,ol,li,td,th,a,form,input,select,textarea,option,label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.body {
	margin: 0px;
}

p, td, th, span, div{
	font-size: 11px;
	line-height: 130%;
}


p {
	text-align:justify;
	margin: 4px 0px 4px 0px !important;
}

/* standard Hyperlink */
a {
	text-decoration: none;
	color: #ad971f;
}

a:hover {
	text-decoration: underline;
	color: #000;
}

/* image */
img{
	border: 0px;
}

/* standard Form */
form {
	margin: 0px;
}

input,textarea,option{
	font-size: 10px;
}

/* standard form input text */
input.text {
	background-color: #fff;
	border: 1px solid #000;
}


/* standard form button */
input.button{
	border: 0px;
	background: url(../images/buttons.gif) left repeat-x #e9e7e8;
	border: 1px solid #050505;
	color: #30383b;
	font-weight: bold;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
}
input.buttonGo{
	background: #000;
	border: 0px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	padding: 1px 4px 2px 4px;
}

/* standard form select + option*/
select{
	font-weight: bold;
	font-size: 12px;
	height: 17px;
	background-color: #ffffff;
	border-top: 1px solid #154e66;
	border-right: 1px solid #2a7493;
	border-bottom: 1px solid #2a7493;
	border-left: 1px solid #154e66;
}
option{
	font-weight: bold;
	font-size: 12px;
	height: 17px;
	background-color: #ffffff;
}

/* standard form textarea */
textarea {
	border-top: 1px solid #154e66;
	border-right: 1px solid #2a7493;
	border-bottom: 1px solid #2a7493;
	border-left: 1px solid #154e66;
}

/* standard cell */
td, th {
	vertical-align: top;
	line-height: 150%;
}

td.text, td.form {
	padding: 4px;
}


.floatRight{
 	float: right;
}
.floatLeft{
 	float: left;
}

.center{
	text-align: center;
}

.left{
	text-align:left;
}
.right{
	text-align: right;
}
.justify{
	text-align:justify;
}

/* --------- warper element -------- */
.body{
}
.mainPage{
	/*width: 800px;*/
	text-align: left !important;
	background-color:#fff;
}


/* ------- header element ---------- */
.header, .sitename, .headerImg{
}
.header{
	height: 170px;
	background: url(../images/bgHead.gif) top left repeat-x #a8e25a;
}

a.sitename{
	float: left;
	height: 170px;
	width: 230px;
}
.headerImg{
	height: 82px;
	background: url(../images/imgHead.gif) top right no-repeat;
}
.headerBottom{
	float: right;
	overflow: hidden;
}
.langEN, .langID{
	float: left;
}
.headerAdd01{
	float: right;
	padding: 4px 10px;
	background: url(../images/bgHeadAdd.gif) top right repeat-y;
}
.headerAdd01 span{
	color: #fff;
}
a.shoppingChart{
	float: left;
	background: url(../images/shoppingCart.gif) no-repeat;
	height: 25px;
	width: 120px;
	margin-left: 0px;
}
a.langEN{
	height: 22px;
	background: url(../images/english.gif) no-repeat;
	width: 60px;
	margin: 0px 20px 0px 10px;
}
a.langID{
	height: 22px;
	background: url(../images/indonesian.gif) no-repeat;
	width: 90px;
	margin: 0px;
}

/* ------- navigation -------------- */
.nav{
	float: left;
	list-style: none;
	margin-left: 0px;
	margin-top: 10px;
	padding-left: 20px;
	overflow: hidden;
}

.nav li{
	float:left;
	height: 32px;
	margin: 0px 4px 0px 0px;
	padding: 0px;
	border: none !important;
}

.nav li.first{
	margin: 0px 4px 0px 0px;
	border: none !important;
}
.nav li a{
	color: #fff;
	float:left;
	background:url(../images/bgNavList.gif) no-repeat left top;
	margin:0;
	text-decoration:none;
	padding-left:5px;
	padding-right:0;
	padding-top:0;
	padding-bottom:0;
}
.nav li a span{
	height: 32px;
	float:left;
	display:block;
	padding-left:5px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:4px;
	background: url(../images/bgNav.gif) top right no-repeat;
}

.nav li a:hover{
	color: #ffd800;
	text-decoration: none;
}


/* ---------- search ---------- */
.search{
	float: right;
	width: 240px;
	margin-top: 6px;
	color: #fff;
}

.clear{
	clear: both;
}

/* --------- sidebar ---------- */
.warper, .sidebar {
	margin-top: 10px;
	margin-bottom: 10px;
}
.warper{
	width: 590px;
	float: left;
}
.sidebar{
	width: 210px;
	float: left;
	overflow: hidden;
}
.sidebar2{
	width: 200px;
	float: left;
	background-color: #fff;
}
.menu00{
	margin-left: 10px;
	margin-right: 10px;
}
.menu00 h2{
	font-size: 11px;
	padding: 0px 20px;
	color: #30383b;
	margin: 0px;
	text-align: left;
	background: url(../images/bulletH2.gif) top left no-repeat;
	border-bottom: 1px solid #fff;
}
ul.menuItem00 {
	list-style-type: none;
	margin-top: 10px;
	padding: 0px;
	margin-left: 0px;
}
ul.menuItem00 li{
	margin: 0px;
	padding: 0px;
	color: #33383e;
	padding: 0px;
	margin-left: 1px;
	border-bottom: 1px dotted #bbb;
}
ul.menuItem00 li a{
	padding: 8px 4px 8px 19px;
	display: block;
	color: #33383e;
}
ul.menuItem00 li a:hover{
	color: #33383e;
	text-decoration: none;
	background-color: #eaeaea;
}
.menu {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
.menu h2{
	font-size: 11px;
	padding: 0px 20px;
	color: #30383b;
	margin: 0px;
	text-align: left;
	background: url(../images/bulletH2.gif) top left no-repeat;
	border-bottom: 1px solid #fff;
}
ul.menuItem{
	list-style-type: none;
	margin-top: 10px;
	padding: 0px;
	margin-left: 0px;
}

ul.menuItem li{
	margin: 0px;
	padding: 0px;
	color: #33383e;
	padding: 0px;
	margin-left: 1px;
	border-bottom: 1px dotted #bbb;
}

ul.menuItem li a{
	padding: 8px 4px 8px 19px;
	display: block;
	color: #33383e;
}
ul.menuItem li a:hover{
	color: #33383e;
	text-decoration: none;
	background-color: #eaeaea;
}


/* --------------login form------------*/
.login{
	margin-top: 20px;
	margin-left: 10px;
	background: url(../images/bgMenu02.gif) bottom center no-repeat #ebebeb;
}
.login h2{
	font-size: 11px;
	padding: 14px 10px 5px 10px;
	color: #fff;
	margin: 0px;
	text-align: center;
	background: url(../images/bgHeading2.gif) top center no-repeat;
}

.login p{
	margin: 0px;
	padding: 2px 10px;
}

.login p.label{
	display: block;
	float: left;
	width: 30px;
	color: #000;
}

.login p.input{
	display: block;
	float: right;
	width: 90px;
	color: #000;
}

.login p.submit{
	display: block;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}
.login p.submit a{
	color: #000;
}
.login p.submit a:hover{
	color: #000;
	text-decoration: underline;
}



/* ----------- product box ------------- */
.productBox{
	width: 190px;
	margin-top: 10px;
	padding-bottom: 20px;
	margin-left: 10px;
	background: url(../images/bgMenu02.gif) bottom center no-repeat #ebebeb;
}
.productBox h2{
	font-size: 11px;
	padding: 14px 10px;
	color: #fff;
	margin: 0px;
	text-align: center;
	background: url(../images/bgHeading2.gif) top center no-repeat;
}
.productBox .image{
	width: 60px;
	float: left;
	text-align: center !important;
}
.productBox .review{
	width: 120px;
	float: right;
}
.productBox .image span, .productBox .review span{
	display: block;
	padding: 10px 4px;
}
.productBox .review span a{
	font-weight: bold;
	color: #000;
}
.productBox .review span a:hover{
	font-weight: bold;
	color: #000;
	text-decoration: underline;
}

/*---------------- testimonial -------------- */
.testimonial{
	padding: 10px;
	clear: both;
}
.testimonial h2{
	font-size: 11px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 20px;
	color: #fff;
	margin: 0px;
	background: url(../images/bgHeading.gif) top left no-repeat;
}
.testimonial .testiBox{
	padding: 10px;
}
.testiBox p{
	padding-bottom: 10px;
	text-align: left;
}
.testimonial .testiBox .add{
	text-align: right;
	padding-top: 10px;
	font-weight: bold;
}
p.add {
	color: #03406d;
	font-size: 10px;
	font-weight: bold;
}
p.add a{
	color: #000;
	text-decoration: underline;
}
p.add a:hover{
	color: #bbb;
	text-decoration: underline;
}

/*-------------- promo ------------------*/
.promo{
	background: url(../images/bgPromo.gif) top center no-repeat #fff;
	height: 229px;
	margin-left: 0px;
}

.promoImage{
	float: left;
	width: 210px;
}
.promoImage span{
	padding-left: 40px;
	padding-top: 40px;
	text-align: center;
	display: block;
}

.promoReview{
	width: 280px;
	float: right;
}
.padWarper{
	padding: 80px 20px 10px 0px;
	color: #343434;
}
.padWarper h2{
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	color: #000;
}

.btn{
	text-align: right;
	background: transparent;
}

.prize{
	font-size: 16px;
	font-weight: bold;
	text-align: right;
	color: #b79d0b;
}
.promoBox{
	display: none;
	width: 537px;
	height: 221px;
}


/*---------- product -----------------*/
.productList{
	margin-top: 10px;
	padding: 10px;
}
.productList h2{
	font-size: 11px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 20px;
	color: #fff;
	margin: 0px;
	background: url(../images/bgHeading.gif) top left no-repeat;
}

.productList ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.productList ul li{
	width: 180px;
	height: 110px;
	padding-top: 10px;
	float: left;
	border-bottom: 1px solid #e3e8ec;
}

.productList ul li .productimage{
	width: 60px;
	float: left;
	text-align: right !important;
}


.productList ul li .review{
	width: 110px;
	float: right;
	text-align: left;
	margin-right: 5px;
	margin-left: 0px;
}

.productList ul li .review a{
	font-weight: bold;
	color: #464646;
}

.review .productprize{
	font-size: 11px;
	font-weight: bold;
	color: #b79d0b;
}
.review .buy{
	padding: 10px 0px;
	line-height: 180%;
}
.review .buy a{
	display: block;
	margin-top: 4px;
}

/* --- cs, newsletter, statistik ---- */
.cs, .statistik, .polling {
	margin-top: 20px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background: url(../images/bgCurv00.gif) center bottom no-repeat #fff;
}
.newsletter{
	margin-top: 5px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background: url(../images/bgNewsLetter.gif) top left repeat-x #000;
}
.cs h2, .statistik h2, .polling h2{
	font-size: 11px;
	padding: 0px 20px;
	color: #30383b;
	margin: 0px;
	text-align: left;
	background: url(../images/bulletH2.gif) top left no-repeat;
	border-bottom: 1px solid #fff;
}
.newsletter h2 {
	font-size: 11px;
	padding: 0px 20px 10px 20px;
	color: #30383b;
	margin: 0px;
	text-align: left;
	background: url(../images/bulletH2.gif) top left no-repeat #fff;
	border-bottom: 1px solid #fff;
}
.cs h2, .statistik h2, .polling h2{

}

.cs table, .statistik table{
	margin-top: 10px;
	width: 100%;
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}
.polling table{
	margin-top: 10px;
	width: 170px;
}
.polling th, .polling td{
	text-align: left;
}
.borderCC{
	padding: 4px;
	color: #30383b;
	border-bottom: 1px solid #dfdfdf;
}
.bgCC{
	background-color: #eaeaea;
	padding: 4px;
	border-bottom: 1px solid #000;
	color: #30383b;
	text-align: right;
	font-weight: bold;
}
.bgColor{
	padding: 4px;
	border-bottom: 1px solid #dfdfdf;
	color: #30383b;
	text-align:left;
	background-color:#fff;
}

/* --------- main content ------------- */
.mains{
	float: left;
}

.contents{
	width: 380px;
}
.contents h2 {
	font-size: 1.1em;
}
.contents2 {
	color: #fff;
	padding: 5px;
}
.contents3 {
	margin: 0px 10px 10px 10px;
}
.footer{
	text-align: left;
	font-size: 9px;
	color: #fff;
	height: 60px;
	overflow: hidden;
	background: url(../images/bgFooter.gif) left top repeat-x #232323;
}
.footerCell {
	height: 60px;
	color: #ccc;
	padding: 0px 0px 0px 20px;
	background: url(../images/bgFooterLeft.gif) left top no-repeat;
}
.footerCell span{
	width: 620px;
	position: absolute;
	margin-top: 30px;
	font-size: 9px;
	font-family: verdana, arial, sans-serif;
}
.footer strong{
	color: #fff;
}
a.jcamp{
	display: block;
	background:url(../images/jogjacamp.gif) right top no-repeat;
	margin-top: 0px;
	width: 160px;
	height: 60px;
	float: right;
	margin-right: 0px;
}
.banner{
	padding: 10px 0px 10px 0px;
	margin-right: 10px;
	margin-left: 10px;
}

.banner p{
	text-align: center;
}

.flowNav{
	margin-left: 30px;
}
.flowNav p{
	display: inline;
	background: url(../images/arrowNav.gif) left no-repeat;
	padding-left: 20px;
	padding-right: 10px;
}
.flowNav p a{
	color: #496f1a;
	font-weight: bold;
}
.flowNav p a:hover{
	color: #a8e25a;
	font-weight: bold;
}

/* product list --*/
.productItem{
	padding: 0px 10px 10px 10px;
}
.imageBox{
	padding: 4px;
	text-align: center;
	width: 60px;
	margin-right: 8px;
	margin-bottom: 8px;
	float: left;
}
.imageBox img{
	width: 60px;
	border: 0px;
}
.imageBox2{
	padding: 0px;
	text-align: center;
	width: 140px;
	margin-top: 10px;
	margin-right: 8px;
	margin-bottom: 8px;
	float: left;
}
.imageBox2 img{
	width: 100px;
	border: 0px;
}
.imageBox2 span{
	border: 1px solid #666;
	padding: 10px 4px;
	display: block;
}
.imageBox2 p{
	background-color: #000;
	margin: 0px !important;
	padding: 6px;
	border-bottom: 1px solid #666;
	color: #fff;
}
.imageBox2 p a {
	color: #fff;
	padding: 4px;
	background-color: #000;
}
.imageBox2 p a:hover {
	color: #000;
	background-color: #ffd800;
	padding: 4px;
	text-decoration: none;
}
.itemReview{
	width: 280px;
	float: right;
}
.itemReview h2{
	margin: 4px 0px;
	font-size: 1.1em;
}
.itemReview p{
	margin: 8px 0px !important;
}
.itemReview .item-rating{
	text-align: center;
	float: left;
	margin: 0px 8px 8px 0px;
	width: 40px;
	height: 40px;
	font-size: 10px;
	font-weight: bold;
	padding: 4px;
	background: url(../images/bgRating.gif) center no-repeat;
}

.itemReview .item-rating span{
	font-size: 2em;
	color: #000;
}
.itemReview2{
	width: 210px;
	float: right;
	margin: 0px;
}
.itemReview2 h2{
	margin: 4px 0px;
	font-size: 1.1em;
}
.itemReview2 table{
	width: 200px;
}
.itemReview3{
	width: 280px;
	float: right;
}
.moreInfo {
	padding: 0px 10px;
}
.moreInfo h2{
	margin: 4px 0px;
	font-size: 1.1em;
}
.moreInfo p{
	padding: 5px 0px 5px 0px;
	border-top: 1px solid #eef2f5;
}

/*shopping cart */
.shoppingCartBox{
	width: 190px;
	background: url(../images/bgMenu.gif) top left no-repeat #eef2f5;
	padding-bottom: 5px;
}
.shoppingCartBox h2{
	font-size: 12px;
	padding: 8px 10px;
	color: #fff;
	margin: 0px;
	text-align: left;
	background: url(../images/bgmenuTitle.gif) left no-repeat #307b9a;
}
.shoppingItem{
	padding: 10px 5px;
}
.shoppingItem p{
	font-size: 1px;
	padding: 0px;
	margin: 0px !important;
}
.shoppingItem .image {
	width: 60px;
	float: left;
}
.shoppingItem .image img{
	width: 60px;
	border: 1px solid #c3cdd5;
	border: 0px;
}
.shoppingItem .review {
	width: 110px;
	float: right;
}
.productInfoTable{
	border-top: 2px solid #333;
	width: 400px;
	margin-bottom: 20px;
}
.productInfoTable tr td{
	border-bottom: 1px solid #dfe5ea;
	padding: 4px;
}
.buttonLink{
	padding: 4px;
	color: #000;
	font-size: 10px;
	font-weight: bold;
	border: 1px solid #c3cdd5;
	background-color: #eee;
}
.buttonLink:hover{
	background: #000;
	border: 1px solid #c3cdd5;
	color: #ffd800;
	text-decoration: none;
}

/*tab menu*/
.tabMenu{
	height: 18px;
	margin-bottom: 10px;
	margin: 0px 10px;
	border-bottom: 1px solid #dfe5ea;
	font-size: 10px;
}
.tabMenu a{
	display: block;
	padding: 2px 4px;
	background-color: #ccc;
	float: left;
	color: #fff;
	text-align: center;
	font-size: 10px;
}
.tabMenu a.logoutTab{
	display: block;
	padding: 2px 4px;
	background-color: #eee;
	float: left;
	color: #000;
	text-align: center;
	font-size: 10px;
}

.tabMenu a.activeTab{
	display: block;
	padding: 2px 4px;
	background-color: #050505;
	float: left;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 10px;
}
.tabMenu a:hover{
	display: block;
	padding: 2px 4px;
	background-color: #050505;
	float: left;
	color: #ffd800;
	text-align: center;
	text-decoration: none;
	font-size: 10px;
}
.affiliate {
	padding: 0px 10px;
}
.affiliate p{
	text-align: left;
}
.affiliateTitle{
	margin-bottom: 10px;
	color: #000;
}
.affiliateTable, .confirmTable, .contactTable{
	width: 360px;
}
.affiliateTable tr th, .confirmTable tr th, .contactTable tr th{
	padding: 4px;
	border-bottom: 1px solid #fff;
	background: #dbdbdb;
	color: #000;
}
.affiliateTable tr td, .confirmTable tr td, .contactTable tr td{
	padding: 4px;
	border-bottom: 1px solid #fff;
	background: #eee;
}
.affiliateTable input, .contactTable input{
}
.affiliateTable select, .contactTable select{
	width: 240px;
}

.shoppingTable{
	width: 360px;
}
.shoppingTable tr th{
	padding: 2px;
	border-bottom: 1px solid #fff;
	background: #dbdbdb;
	color: #000;
	font-size: 10px;
}
.shoppingTable tr td{
	padding: 4px;
	border-top: 1px solid #dfe5ea;
}

.text2{
	font-weight: bold;
}
.red{
	color: #000;
	font-size: 1em;
}

/*--- news --- */
h2.newsCat{
	border-bottom: 1px solid #efefef;
	margin:4px 0px;
	font-size: 11px;
	color: #a3a3a3;
	padding-bottom: 10px;
}
.newsItem{
	padding: 10px;
}
.newsImage{
	padding: 4px;
	text-align: center;
	width: 80px;
	margin-right: 10px;
	margin-bottom: 8px;
	float: left;
}
.newsImage img{
	width: 80px;
}
.newsDate{
	font-size: 10px;
}

.newsBrief{
	width: 260px;
	float: right;
}
/* background tabel --// added by mee */
.bgtbl { /* set background baris tabel */
	background-color: #b7e873;
}
.texttbl{ /* set posisi text pada tabel */
	text-align: center;
	padding-top: 7px;
	font-size: medium;
	font-weight: bold;
}
.texttbl a{ /* set posisi text pada tabel */	
	font-weight: bold;
}
.bg2tbl{
	border-bottom: 1px solid #b7e873;
}
.bg2tbl span{
	padding-top: 10px;
	display: block;
}
.text2tbl{ /* set posisi text pada tabel */	
	vertical-align: middle;
	text-align: center;
	height: 27px;
	overflow: hidden;
}
.text2tbl select {
	margin-top: 7px;
	width: 200px;
}
.text2tbl input {
	margin-top: 7px;
}
.text2tbl a{ /* set posisi text pada tabel */	
	font-weight: bold;
}
.bg3tbl{
	border-bottom: 1px solid #eef2f5;
	vertical-align: middle;
}
.text3tbl{ /* set posisi text pada tabel */	
	padding-top: 0px;	
	text-align: center;
}
.text3tbl a{ /* set posisi text pada tabel */	
	font-weight: bold;
}
.text_merah {
	font-weight: bold;
	color: #FF0000;
}
.text_hitam {
	font-weight: bold;
	color: #000000;
}
.text_miring {
	color: #000000;
	font-style: italic;
}
