/* 		Book Store CSS 						    */
/* 		Created Date 	: 21 April 2008		    */
/* 		Email		 	: dpjatmiko@gmail.com		*/


/* Body Style */
body {
	font-size: 12px;
	color: #000;
	margin: 0px;
	background-color: #ddfab7;
	background-image: url(../images/bgLogin.gif);
	background-repeat: repeat-x;
	background-position: left top;
}


body, p, h1,h2,h3,h4,h5,h6,div,ol,li,td,th,a,form,input,select,textarea,option,label {
	font-family: Times New Roman, Verdana, Arial, Helvetica, sans-serif;
}
p, td, th, span, div{
	font-size: 11px;
	line-height: 130%;
}


p {
	text-align:justify;
	margin: 4px 0px 4px 0px !important;
}

/* standard Hyperlink */
a {
	text-decoration: none;
	color: #ad971f;
}

a:hover {
	text-decoration: underline;
	color: #000;
}

/* standard Form */
form {
	margin: 0px;
}

input,textarea,option {
	font-size: 11px;
}

/* standard form input text */
input.text {
	padding: 4px;
	width: 200px;
	color: #27390e;
	font-size: 14px;
	font-weight: bold;
}


/* standard form button */
input.button{
	width: 86px;
	height: 23px;
	border: 0px;
	color: #fff;
	font-weight: bold;
	padding-bottom: 4px;
	font-size: 14px;
	background-image: url(../images/buttonLogin1.gif);
	background-repeat: no-repeat;
}
input.button:hover{
	width: 86px;
	height: 23px;
	border: 0px;
	color: #fff;
	font-weight: bold;
	padding-bottom: 4px;
	font-size: 14px;
	background-image: url(../images/buttonLogin2.gif);
	background-repeat: no-repeat;
}

.clear {
	padding: 7px;
}

/* --------- warper element -------- */

.body {
	padding-top: 50px;
	margin: auto;
	background-image: url(../images/bgTopLogin.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

.mainPage{
	width: 498px;
	text-align: left !important;
	overflow: hidden;
}

.header {
	height: 140px;
	background: url(../images/headerLogin.gif) no-repeat;
}
.content {
	padding-top: 10px;
	padding-bottom: 20px;
	background: url(../images/contentBgLogin.gif) top repeat-y #fff;
}
.formsArea {
	width: 420px;
	height: auto;
	margin: auto;
	padding: 0px;
}
.formsHeader {
	margin: 0px;
	padding: 0px;
	background: url(../images/formsLogin01.gif) bottom right no-repeat;
}
#headerLogin {
	margin: 0px;
	height: 10px;
	padding: 0px;
	background: url(../images/formsLogin00.gif) bottom left no-repeat;
}
.formsCont {
	margin: 0px;
	padding: 0px;
	background: url(../images/formsLogin04.gif) top right repeat-y #defab7;
}
.contentLogin {
	padding: 20px 20px 20px 50px;
	background: url(../images/formsLogin05.gif) top left repeat-y;
	color: #27390e;
	font-size: 16px;
	font-weight: bold;
}
.formsFooter {
	margin: 0px;
	height: 10px;
	padding: 0px;
	background: url(../images/formsLogin03.gif) top right no-repeat;
}
#footerLogin {
	height: 10px;
	padding: 0px;
	background: url(../images/formsLogin02.gif) top left no-repeat;
}
.buttonCont {
	padding: 20px;
	text-align: center;
}
.footer {
	height: 15px;
	background: url(../images/footerLogin.gif) no-repeat;
}
.msgArea {
	width: 400px;
	height: auto;
	margin: auto;
	padding: 20px 10px;
	background-color: #eefcdb;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#error {
	color: #ff2823;
	font-size: 12px;
}
#success {
	color: #58772b;
	font-size: 12px;
}
